<section class="main-section">
  <h2>About</h2>
  {{! <hr /> }}
  <p>
      My name is Mahbub Taha, and I’m someone who navigates the intricacies of life, engaging in diverse activities that shape my journey. Every day brings a new set of experiences, and I strive to embrace them all with curiosity and purpose.
      I have a wide range of interests that inspire me to explore and learn. These interests extend beyond specific areas, allowing me to delve into the richness that life offers. Whether it’s discovering something new or finding joy in familiar routines, 
      I value the balance it brings. Social connections play a vital role in my life. Engaging with others, exchanging ideas, and building meaningful relationships add depth and purpose to my journey. I cherish the sense of community that comes from these interactions, 
      knowing they bring joy and fulfillment to everyday life.  In my free time, I enjoy activities that help me relax and recharge—whether it’s reading, listening to music, exploring creative outlets, or simply appreciating the beauty around me. 
      These moments of leisure give me a chance to reflect, grow, and find inspiration in the world. At the core, I’m someone who is continuously learning, growing, and seeking meaning in the everyday experiences of life. 
      Each step is a part of the larger journey, and I’m excited to see where it leads

  </p>
  
</section>