<form
  class="main-section-form"
  method="post"
  action="/categories/add"
>
  <h2>Add Category</h2>
  {{! <hr /> }}
  <fieldset>
    <legend>Category Information</legend>
    <div class="column">
      <label for="category">Category:</label>
      <input class="form-control" id="category" name="category" type="text" autofocus />
    </div>
  </fieldset>
  <input class="form-btn" type="submit" value="Add Category" />
</form>
