<section class="main-section-form">
  <h2>Login</h2>
  
  {{#if errorMessage}}
  <div class="alert alert-danger">
    <strong>Error:</strong> {{errorMessage}}
  </div>
  {{/if}}
  
  <form method="post" action="/login">
    <fieldset>
      <legend>Login Information</legend>
      <div class="column">
        <label for="userName">User Name:</label>
        <input class="form-control" id="userName" name="userName" type="text" value="{{userName}}" placeholder="User Name" required autofocus />
      </div>
      <div class="column">
        <label for="password">Password:</label>
        <input class="form-control" id="password" name="password" type="password" placeholder="Password" required />
      </div>
    </fieldset>
    <input class="form-btn" type="submit" value="Login" />
  </form>
</section>